<header>
  <nav class="header-nav">
    <a class="header-title" href="/">MUSICALIA</a>
    <ul class="header-links">
      <li class="header-link"><a href="/artists">Artists</a></li>
      <li class="header-link"><a href="/artists/new">Add Artists</a></li>
      <li class="header-link"><a href="/songs">Songs</a></li>
      <li class="header-link"><a href="/songs/new">Add Songs</a></li>
    </ul>
  </nav>
</header>
