.api-h2 {
  margin-bottom: 1rem;
}

.api-container {
  padding-top: 0rem;
  padding-bottom: 5rem;
}

.api-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.api-btn-container {
  position: relative;
}

.find-api-btn {
  margin: 1rem 1rem 1rem 0;
  text-transform: uppercase;
}

.api-field {
  text-align: start;
  width: 20rem;
}
.api-search {
  position: absolute;
  right: 0;
  width: 6rem;
}

.api-links-container {
  margin-bottom: 2rem;
}

.api-links-list {
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, 279px);
}

.api-a {
  text-decoration: none;
}

.api-title {
  height: 4.4rem;
  font-size: 1.15rem;
  font-weight: var(--font-weight-medium);
  color: var(--text-2);
}

.api-p {
  margin-top: 0.5rem;
  color: var(--text-3);
}

.api-img {
  width: 279px;
  height: 179px;
  object-fit: cover;
}
