:root {
    --background-1: rgb(16, 16, 16);
    --background-2: rgb(24, 24, 24);
    --background-3: rgb(33, 33, 33);
    
    --text-1: rgb(255, 255, 255);
    --text-2: rgb(227, 227, 227);
    --text-3: rgb(144, 144, 144);

    --font-1: 2rem;
    --font-2: 1.7rem;
    --font-3: 1.3rem;
    --font-4: 1rem;
    
    --font-weight-big: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-small: 300;
    
    --btn-border: rgb(255, 255, 255);
    --btn-border-hover: var(--background-3);
    --btn-background: var(--background-1);
    --btn-background-2: rgb(57, 57, 57);
    --btn-background-hover: var(--text-1);
    --btn-text: var(--text-1);
    --btn-text-hover: var(--background-1);
    --red: rgb(192, 44, 74);
    
    --font-one: 'Press Start 2P', cursive;
    --font-two: 'Roboto', sans-serif;
}

