<div class="api-btn-container">
  <input
    class="btn find-api-btn api-field"
    name="<%= value %>"
    readonly
    type="text"
    placeholder="<%= value %>"
    value=""
  />
  <button class="btn find-api-btn api-search" type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
