<header>
  <nav class="header-nav">
    <a class="header-title" href="/">MUSICALIA.</a>
    <div class="header-section">
      <div class="header-artists">
        <h1 class="header-section-title">Artists</h1>
        <ul class="header-artists-ul">
          <li class="header-link">
            <a class="btn" href="/artists"><p><i class="fa-solid fa-list"></i> See all</p></a>
          </li>
          <li class="header-link">
            <a class="btn" href="/artists/new"
              ><i class="fa-solid fa-plus"></i> Add new</i
            ></a>
          </li>
        </ul>
      </div>
      <div class="header-songs">
        <h1 class="header-section-title">Songs</h1>
        <ul class="header-songs-ul">
          <li class="header-link"><a class="btn" href="/songs"><i class="fa-solid fa-list"></i> See all</a></li>
          <li class="header-link">
            <a class="btn" href="/songs/new"><i class="fa-solid fa-plus"></i> Add new</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
