<div class="form-row">
  <div class="form-item edit-add">
    <label for="">Name</label>
    <input type="text" name="name" value="<%= artist.name %>" />
    <label for="">Genre</label>
    <input type="text" name="genre" value="<%= artist.genre %>" />
    <label for="">Rating</label>
    <input
      type="number"
      min="1"
      max="10"
      name="rating"
      value="<%= artist.rating %>"
    />
    <label for="">Cover</label>
    <input type="file" name="cover" class="song-cover filepond" />
  </div>
</div>
