<div class="background background-2"></div>

<h2>Search for Song</h2>
<form action="/songs" method="GET">
  <div class="form-row-song">
    <div class="form-item">
      <label for="">Title</label>
      <input type="text" name="title" />
    </div>
    <div class="form-item">
      <label for="">Rating</label>
      <input type="number" name="rating" />
    </div>
  </div>

  <!-- <div class="form-row">
    <div class="form-item">
      <label for="">Genre</label>
      <input type="text" name="genre" />
    </div>
    <div class="form-item">
      <label for="">Artist</label>
      <input type="text" name="artist" />
    </div>
  </div> -->
  <div class="form-row-end">
    <button class="btn btn-find" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</form>
<br />
<div>
  <%- include('../partials/songGrid', { songs: songs, large : true }) %>
</div>
