:root {
    --artist-cover-width: 158px;
    --artist-cover-aspect-ratio: 1;
}

.artist-grid {
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, var(--artist-cover-width));
    margin-bottom: 5rem;
}


.artist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-card-bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 1rem;
}

.artist-grid-big {
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, 500px);
    margin-bottom: 5rem;
}

.artist-card-big {
    display: flex;
}

.artist-card-big-right {
    display: flex;
    flex-direction: column;
  width: 220px;
    justify-content: space-between;
    margin-left: 3rem;
}

.artist-card-big-right-column {
    display: flex;
    flex-direction: column;
    }
.artist-card-big-right-columns {
    display: flex;
}

.artist-card-big-right-column span {
    text-transform: uppercase;
    font-weight: var(--font-weight-medium);
    margin-left: 2rem;
    margin-bottom: .5rem;
}

.artist-card-big-right-column p {
    margin-bottom: .5rem;
}

.artist-name {
    text-align: center;
    
    font-size: var(--font-2);
}

.artist-cover {
    width: var(--artist-cover-width);
    height: calc(var(--artist-cover-width) / var(--artist-cover-aspect-ratio));
    object-fit: cover;
    border-radius: 50%;
}

.artist-title {
    text-align: center;
    font-family: var(--font-one);
    font-size: var(--font-4);
}

.listen-btn-artist {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-1);
    border-radius: 7px;
    text-decoration: none;
}

.listen-btn-artist i { 
    transform: scale(2);
    color: var(--red);
}

.artist-show-row {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.artist-show-row img {
    margin-right: 2rem;
}
.artist-show-row a {
    margin: 0 2rem;
}

@media (max-width: 800px) {
    .artist-card-big {
        display: flex;
        flex-direction: column;
    }

    .artist-cover {
        width: 100px;
        height: 100px;
    }

    .artist-grid-big {
        display: grid;
        justify-content: center;
        gap: 50px;
        grid-template-columns: repeat(auto-fill, 250px);
        margin-bottom: 5rem;
    }

    .artist-show-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .artist-card-big-right-columns {
        margin: 1rem 0;
    }
}