:root {
    --btn-color-border: hsl(var(--base-hue), 100%, 95%);
    --btn-color-primary-text: hsl(var(--base-hue), 100%, 95%);
    --btn-color-primary-text-hover: hsl(var(--base-hue), 100%, 5%);
    --btn-color-danger-text: hsl(var(--base-hue), 40%, 50%);
}

.btn {
    -webkit-box-shadow:inset 0px 0px 0px 1px var(--btn-color-border);
    -moz-box-shadow:inset 0px 0px 0px 1px var(--btn-color-border);
    box-shadow:inset 0px 0px 0px 1px var(--btn-color-border);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: .3rem .8rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;
    border: none;

    transition: all 300ms ease-in-out;
    background-color: rgba(255, 255, 255, 0);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.81);
    box-shadow:inset 0px 0px 0px 2px var(--btn-color-border);
}

.btn-primary {
    color: var(--btn-color-primary-text);
}

.btn-primary:hover {
    color: var(--btn-color-primary-text-hover);
}

.btn-danger {
    color: var(--btn-color-danger-text);
}