.header-nav {
    background-color: var(--background-1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    
    box-shadow: 0px -5px 20px 0px rgb(61, 61, 61);
    z-index: 2;
}

.header-title {
    color: var(--text-1);
    font-family: var(--font-one);
    font-size: 2.7rem;
    text-decoration: none;
    text-align: center;
    margin: 3rem 0;
    border-bottom: solid 1px var(--text-1);
}

.header-section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.header-section-title {
    font-family: var(--font-one);
}

.header-artists, .header-songs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-artists-ul, .header-songs-ul {
    display: flex;
}

.header-link {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
}

.header-link a{
    color: var(--text-1);
    font-size: var(--font-3);
    font-weight: var(--font-weight-small);
    text-transform: uppercase;
    text-decoration: none;
}

.header-link i {
    margin-right: .4rem;
}

@media (max-width: 800px) {
    .header-section {
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }

    .header-link {
        margin-bottom: 2rem;
        margin-left: .8rem;
        margin-right: .8rem;
    }

    .header-title {
        font-size: var(--font-1);
    }
    
    .header-section-title {
        font-size: var(--font-2);
    }
}